*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Sans-serif;

}

body{
	background: url('../img/background.jpg') repeat-x;
}

/*----- HEADER ------*/
/* ---- NAVIGATION ----*/

.icon-bar{
	padding: 1em;
}
.color-bars a{
	color: #a9868e;
	padding-bottom: 1em;
}

.color-bars a:hover{
	color: #cabdc1;
	
}

.menu{
	background-color: #fff;
	position: absolute;
	left: -999px;
	width: 100%;
	height: 80%;
	z-index: 3;
}

.navigation ul{
	list-style-type: none;
}

.navigation ul li{
	padding: 1em;
	margin-right: 40px;
	color: #a9868e;
	text-transform: uppercase;

	
}

/*----- MAIN ------*/

.col-centered-sm, .col-centered-sm-v3{
	float: none;
	margin: 45px auto 0 auto;
}

.col-centered-sm-v2{
	float: none;
	margin: 20px auto ;
}



/*--- TYPOGRAPHY ---*/
h1{
	padding-bottom: 0.5em;
}
.type-color-h1{
	color: #aa9fa3;
	text-shadow: 1px 1px 2px #656667;

}

.type-color-blue{
	color: #75a6b7;
}

.type-color-tan{
	color: #c9d4cb;
}

.type-color-pink{
	color: #edb5c5;
}

section a{
	color: #989a9a;
}

section a:hover{
	color: #de959c;
	text-decoration: none;
}

.introduction-text{
	display: none;
}

/*--- CUSTOM BUTTON ---*/
.btn-default.gradient{
	color: #a9858e;
	box-shadow: 1px 1px 1px 1px #656667;
    background: -moz-linear-gradient(top,  #ede5e7 10%, #cabdc1 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ede5e7), color-stop(90%,#cabdc1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ede5e7 10%,#cabdc1 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ede5e7 10%,#cabdc1 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ede5e7 10%,#cabdc1 90%); /* IE10+ */
    background: linear-gradient(to bottom,  #ede5e7 10%,#cabdc1 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede5e7', endColorstr='#cabdc1',GradientType=0 ); /* IE6-9 */
}

.btn-default.gradient:hover{
	color: #e8d9dc;
	background: -moz-linear-gradient(top,  #a9868f 10%, #cabdc1 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a9868f), color-stop(90%,#cabdc1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a9868f 10%,#cabdc1 90%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a9868f 10%,#cabdc1 90%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a9868f 10%,#cabdc1 90%); /* IE10+ */
    background: linear-gradient(to bottom,  #a9868f 10%,#cabdc1 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9868f', endColorstr='#cabdc1',GradientType=0 ); /* IE6-9 */
}
.cart img{
	display: none;
}


/* ---- FOOTER -----*/

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.social a{
	color: #a9868e;
	padding: 0.5em;
	font-size: 1.5rem;
}

.social a:hover{
	color: #725d62;
	text-decoration: none;
}


footer p{
	color: #a9868e;
}

/*---- QUERIES ------*/

@media screen and (min-width: 425px){
	.col-centered-sm-v3{
		margin-top: 130px;
	}
}

@media screen and (min-width: 768px){
	.col-centered-sm-v3{
		margin-top: 45px;
	}
}


@media screen and (min-width: 1000px){
	.icon-bar, .menu{
		display: none;
	}

	.col-centered-sm{
		margin-top: 70px;
	}

	.col-centered-sm-v3{
		margin-top: 45px;
	}

	.cart img{
		display: block;
		margin-top: 100px;
	}



	.introduction-text{
		display: flex;		
	}

	.introduction-text p{
		color: #a9868e;
		padding-bottom: 1em;

	}

}


@media screen and (min-width: 1200px){
	.cart img{
		margin: 0;
	}

}


@media screen and (min-width: 1350px){
	.col-centered-sm-v3{
		margin-top: 0;
	}
}








